* {
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    position: fixed;
    top: 0;

    input {
        height: 50px;
        border-radius: 25px;
        border: 2px solid #000;
    }
}

.results-list {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.result {
    height: 400px;
    max-width: 400px;
}

.imgbox {
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title, .price {
    color: #1f1f1f;
    font-family: Helvetica, sans-serif;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.price {
    font-weight: 700;
}